<div style="text-align: center; padding-top: 30px">
  <div id ="title" class="mat-display-3" style="display: inline">
    Where <img src="assets/logo.png" alt="" style="display: inline;height: 90px;"> Wear
  </div>
</div>
<div style="display: inline-block; float: right; position: absolute; right: 10px; top:10px " *ngIf="weather">
  <mat-card id="mat-card">
    <mat-card-content id="mat-card-content">
      <img id="icon-img" src={{weather.icon}}>
      {{weather.avg}}°C
      <br>
      <br>
      {{weather.description | titlecase}}
    </mat-card-content>
  </mat-card>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="inner-container">
    <mat-form-field class="city-input-form">
      <input matInput placeholder="Enter a city" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="city-input" #search [formControl]="searchControl">
    </mat-form-field>
    <mat-form-field class="date-input-form">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="dateChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

</div>

<mat-spinner style="opacity: 0; position: absolute;"></mat-spinner>

<div *ngIf="photosAreLoading" style="text-align: center;">
  <mat-spinner style="display: inline-block; margin-top: 150px;"></mat-spinner>
</div>
<mat-grid-list *ngIf="!photosAreLoading" cols="5" rowHeight="1:1">
  <mat-grid-tile *ngFor="let photo of photos | slice:0:180">
    <img src="{{photo.url}}" alt="photo" class="photo">
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
