<div class="mat-display-3" style="display: inline">
  Where to Wear
</div>

<div style="display: inline-block; float: right;" *ngIf="weather">
  <mat-card>
    <mat-card-content>
      {{weather.avg}}°C
      <br>
      <br>
      {{weather.description | titlecase}}
    </mat-card-content>
  </mat-card>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="inner-container">
    <mat-form-field class="city-input-form">
      <input matInput placeholder="Enter a city" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="city-input" #search [formControl]="searchControl">
    </mat-form-field>
    <mat-form-field class="date-input-form">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="dateChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="getPhotos()">Get photos</button>
  </div>

</div>

<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile *ngFor="let photo of photos | slice:0:120">
    <img src="{{photo.url}}" alt="photo" class="photo">
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
