@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#title {
  font-family: 'Major Mono Display', monospace;
  color: #2b81af;
}

#mat-card-content {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: dimgrey;
}

.container {
  width: 100%;

  .inner-container {
    display: block;
    margin: auto;
    text-align: center;
  }

  mat-form-field {
    &.city-input-form {
      padding: 20px;
      display: inline-block;
      width: 50%;
    }

    &.date-input-form {
      display: inline-block;
      width: 15%;
    }
  }
}

#mat-card{
  width: 200px;
}

#icon-img{
  width: 50px;
}

.photo {
  object-fit: cover;
  width:100%;
  height:100%;
}
