<h1>Angular 2 + Google Maps Places Autocomplete</h1>
<div class="container">
  <mat-form-field>
    <input matInput placeholder="Enter a city" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="city-input" #search [formControl]="searchControl">
  </mat-form-field>
  <button mat-button (click)="getPhotos()">Get photos</button>

</div>

<mat-card *ngFor="let photo of photos | slice:0:20">
  <img src="{{photo.url}}" alt="photo" class="photo">
</mat-card>

<router-outlet></router-outlet>
